<!DOCTYPE html>
<html>
<head>
    <title>Travel Pakistan with us</title>
    <link href="~/Content/Mycssfile/Travelpakwithus.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/images/icon/icons8-airplane-64 (2).png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />   
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <div>
        @RenderBody()
    </div>
    <!--start of feature section-->
    <section class="features" id="Feature">
        <h1 class="head1">Future Destination </h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/allcity/kashmir/kishmirbeauti.jpg">
                            <div class="price">
                                <p>128$</p>
                            </div>

                        </div>
                        <div class="feature-details">
                            <h4>Kashmir</h4>
                            <p>
                                Azad Jammu and Kashmir
                                abbreviated as AJK and colloquially referred to as simply Azad Kashmir, is a region administered by
                                Pakistan as a nominally self-governing entity and constituting the western portion of the larger Kashmir region,
                                which has been the subject of a dispute between India and Pakistan since 1947.
                            </p>
                            <div>
                                <span> <i class="fa fa-map-marker"></i>Kashmir</span>
                                <span><i class="fa fa-sun-o"></i>4 Days</span>
                                <span><i class="fa fa-moon-o"></i>3 Night</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/destination/Faisal Masjid.jpg" />
                            <div class="price">
                                <p>100$</p>
                            </div>

                        </div>
                        <div class="feature-details">
                            <h4>Islamabad</h4>
                            <p>
                                The city was built in 1960 to replace Karachi as the Pakistani capital,
                                which it has been since 1963. Due to Islamabad's proximity to Rawalpindi,
                                they are considered sister cities.
                                Compared to other cities of the country, Islamabad is a clean,
                                spacious and quiet city with lots of greeneries.
                            </p>
                            <div>
                                <span> <i class="fa fa-map-marker"></i>Islamabad</span>
                                <span><i class="fa fa-sun-o"></i>5 Days</span>
                                <span><i class="fa fa-moon-o"></i>4 Night</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/destination/minara pakistan.jpg" />
                            <div class="price">
                                <p>90$</p>
                            </div>

                        </div>
                        <div class="feature-details">
                            <h4>Lahore</h4>
                            <p>
                                Lahore is the second biggest city in Pakistan. It is the capital of the province of Punjab.
                                It is also known as the 'City of Gardens'

                                Allama Dr. Muhammad Iqbal, the poet- philosopher of the East,
                                He was buried at this place in the front of Badshahi Mosque forecourt.

                            </p>
                            <div>
                                <span> <i class="fa fa-map-marker"></i>Lahore</span>
                                <span><i class="fa fa-sun-o"></i>6 Days</span>
                                <span><i class="fa fa-moon-o"></i>5 Night</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Add new1 section-->
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/allcity/skardu/Khaplu-Valley (1).jpg ">
                            <div class="price">
                                <p>150$</p>
                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Skardu Khaplu Valley</h4>
                            <p>
                                Second, on the list is the Khaplu Valley which possesses enchanting scenic locations. A curvy road with several
                                trees shaded the travelers providing a worth seeing view. Any lens cannot do
                                justice to the panoramic views. Above all, the jeep ride adds more twists to your trip. Moreover,
                                the valley is an ancient state which lies at the base of the
                                Karakorum mountain range considers the hub of the Yabgo Dynasty.

                            </p>
                            <div>
                                <span> <i class="fa fa-map-marker"></i>Skardu</span>
                                <span><i class="fa fa-sun-o"></i>6 days</span>
                                <span><i class="fa fa-moon-o"></i>5 Night</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End new1 section-->
                <!--Add new2 section-->
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/allcity/murree/The-Mall-Road.jpg ">
                            <div class="price">
                                <p>170$</p>
                            </div>
                        </div>
                        <div class="feature-details">
                            <h4>Murree Mall Road</h4>
                            <p>
                                First and foremost is Mall Road that is the most famous marketplace in Murree.
                                Here you will find all the unique items of Murree.
                                The road opens till 3 am usually, people love to walk over there to enjoy the pleasant
                                weather with yummy food items as well. Indeed, a road full of life,
                                hotels, restaurants, and handicraft items and happy faces.
                            </p>
                            <div>
                                <span> <i class="fa fa-map-marker"></i>Murree</span>
                                <span><i class="fa fa-sun-o"></i>5 days</span>
                                <span><i class="fa fa-moon-o"></i>4 Night</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End new2 section-->
                <!--Start new3 section-->
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="~/images/allcity/swat/Mahodand-Lake.jpg ">
                            <div class="price">
                                <p>200$</p>
                            </div>

                        </div>
                        <div class="feature-details">
                            <h4>Swat Mahudand Lake</h4>
                            <p>
                                Mahudand Lake is also a must-visit place in Swat valley, The glacial alpine lake is
                                located in the Usho Valley of Kalam. The richly green meadows
                                encircled the lake at an elevation of 9,603 ft. the immense Hindu Kush peaks
                                provide a complete backdrop with green meadows for the tourist for camping.


                            </p>
                            <div>
                                <span> <i class="fa fa-map-marker"></i>Swat</span>
                                <span><i class="fa fa-sun-o"></i>7 days</span>
                                <span><i class="fa fa-moon-o"></i>6 Night</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End new3 seciton-->


            </div>
        </div>
    </section>
    <!--End of feature section -->
    <!--Start of Travel Gallery section-->
    <section class="gallery">
        <h1 class="galleryh1">Travelling Gallery</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="gallery-box">
                        <a href="~/images/allcity/karachi.html" target="_blank">
                            <img src="~/images/destination/quied-Azam1.jpg">
                        </a>
                        <h4>Karachi</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-box">
                        <a href="~/images/allcity/Lahore.html" target="_blank">
                            <img src="~/images/destination/badshi masjid.jpeg">
                        </a>
                        <h4>Lahore</h4>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="gallery-box">
                        <a href="~/images/allcity/islamabad.html" target="_blank">
                            <img src="~/images/destination/beautiful-ict.jpg">
                        </a>
                        <h4>Islamabad</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-box">
                        <a href="~/images/allcity/Gilgit.html" target="_blank">
                            <img src="~/images/allcity/Gilgit/Baltoro Glacier.jpg">
                        </a>
                        <h4>Gilgit</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-box">
                        <a href="~/images/allcity/kalam.html" target="_blank">
                            <img src="~/images/allcity/kalam/Kandol Lake.jfif">
                        </a>
                        <h4>Kalam</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery-box">
                        <a href="~/images/allcity/kashmir.html" target="_blank">
                            <img src="~/images/allcity/kashmir/kashmir.jfif">
                        </a>
                        <h4>Kashmir</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="~/images/allcity/Bilochistan.html" target="_blank">
                        <div class="gallery-box">
                            <img src="~/images/destination/Ziarat, Balochistan, Pakistan.jpg">
                    </a>
                    <h4>Bilochistan</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-box">
                    <a href="~/images/allcity/skardu.html" target="_blank">
                        <img src="~/images/allcity/skardu/Shangri-La Lake.jpg">
                    </a>
                    <h4>Skardu</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-box">
                    <a href="~/images/allcity/kumrat.html" target="_blank">
                        <img src="~/images/allcity/kumrat/2- Wooden Canals, Thall, Kumrat Valley, KPK.jpg">
                    </a>
                    <h4>Kumrat</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-box">
                    <a href="~/images/allcity/FairyMeadows.html" target="_blank">
                        <img src="~/images/allcity/FairyMeadows/Fairy Meadows 232.jfif">
                    </a>
                    <h4>Fairy Meadows</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-box">
                    <a href="~/images/allcity/murree.html" target="_blank">
                        <img src="~/images/allcity/murree/murree (2).jpg">
                    </a>
                    <h4>Murree</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-box">
                    <a href="~/images/allcity/swat.html" target="_blank">
                        <img src="~/images/allcity/swat/swat9999.jfif">
                    </a>
                    <h4>Swat</h4>
                </div>
            </div>





        </div>
        </div>
        <!--End of Travel Gallery section -->
        <!--start of banner section -->
    </section>
    <section class="banner" id="banner">
        <div class="banner-highlights">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Get 30% on top destination</h2>
                        <p>
                            On 9 November, get 30% off on Allama Iqbal day,Book your tickets before 9 November.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <!--<button type="button" class="booking-btn">Book Now</button>-->
                        <a href="/Home/MasterPageBooking">
                            <button class="login-btn" onclick="document.getElementById('login-form').style.display='block'"
                                    style="width:auto;">
                                book Now
                            </button>
                        </a>







                        <!--ADd new secion of booking page-->
                        <!--End of booking section-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of banner section-->
    <!-- Start the section Users Reviews-->
    <section class="users-feedback" id="Review">
        <h1 class="Reviewh1">User Review</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-review">
                        <p>
                            Travel with the "Travel Pak With Us" is an Amazing Company. It,s packages are so reasonable.
                            The guide and drivers are very professional and friendly, and the accommodations are simply superb.
                            I love this Travelling Company.
                        </p>
                        <h5>Ibrar Shahzad</h5>
                        <small>Karachi</small>

                    </div>
                    <img src="~/images/review/Ibrar shahzeed.jpg">
                </div>
                <div class="col-md-4">
                    <div class="user-review">
                        <p>
                            I Was extremely Satisfied with the "Travel Pakistan With Us" Tours.
                            Mr. Asif, The owner, has proven to be very courteous and helpful from the very beginning, trying to
                            organize the best our trip to Fairy Medows in the eight days avaliable.
                        </p>
                        <h5>Hussain Shafiq</h5>
                        <small>Islamabad</small>

                    </div>
                    <img src="~/images/review/hussain shafiq.jpg">
                </div>

                <div class="col-md-4">
                    <div class="user-review">
                        <p>
                            My Family and I had an awesome short trip in the Kaghan City, thanks to Mr. Haider(tour guide) and Mr. Muneeb
                            (driver).It was my first time booking a private tour, and thanks to them, it make our Kaghan trip joyous and memorable one.

                        </p>
                        <h5>Mobeen Iqbal</h5>
                        <small>Lahore</small>

                    </div>
                    <img src="~/images/review/mobeen.jpg">
                </div>
            </div>
        </div>
    </section>


    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/icon/icons8-airplane-48.png" class="footer-logo">
                    <h1 class="head11"><b>Travel Pak With Us</b></h1>
                </div>
                <div class="col-md-3">
                    <h4>Featured</h4>
                    <p><a href="#banner">Deals&offers</a></p>
                    <p><a href="#Review">Customer Reviews</a></p>
                    <p><a href="#Feature">Future Destination</a></p>
                    <p><a href="booking.html">Cancallation policy</a></p>
                </div>
                <div class="col-md-3">
                    <h4>Quick content</h4>
                    <p><i class="fa fa-phone-square"><a href=“tel:+923014025352”> +92-3014025352</a></i></p>
                    <p><i class="fa fa-envelope"><a href="mailto:zeeshanawais26@gmail.com">zeeshanawais26@gmail.com</a></i></p>
                    <p><i class="fa fa-home"><a href="https://goo.gl/maps/1Hw1jMMxiJGv7QT38"> Rattigun, Lahore:City</a></i></p>

                </div>

                <div class="col-md-3">
                    <h4>Follow us on</h4>
                    <p><i class="fa fa-facebook-official"></i>Facebook</p>
                    <p><i class="fa fa-youtube-play"></i> youtube</p>
                    <p><i class="fa fa-twitter"></i>Twitter</p>
                </div>
            </div><hr>
        </div>

    </section>
    <!-- move top icon -->
    <a href="/Home/index" class="move-top text-center">
        <span class="fa fa-angle-double-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@
