@model Travel_Pakistan_With_Us.Models.AirLineInformation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AirlineInformationLayout.cshtml";
}

<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">
        
        <h3 style="color:red">Are you sure you want to delete Information</h3>
        <div class="form-group">
            <hr style="height:5px;border-width:0;background-color:crimson">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Route)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Route)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeDuration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeDuration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartingTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartingTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketPrice)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>

