@model IEnumerable<Travel_Pakistan_With_Us.Models.AirLineInformation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AirlineInformationLayout.cshtml";
}

<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold"><span class="text-bl">A</span>irline <span class="text-bl">I</span>nformation</h3>


        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr class="form-group">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Route)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartingTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPrice)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="form-group">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Route)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
