@model Travel_Pakistan_With_Us.Models.AirlineBooking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AirlineBookingLayout.cshtml";
}
<script>
    var date = new Date();
    var tdate = date.getDate();
    var month = date.getMonth() + 1;
    if (tdate < 10) {
        tdate = '0' + tdate;
    }
    if (month < 10) {
        month = '0'+ month;
    }

    var year = date.getUTCFullYear();
    var minDate = year + "-" + month + "-" + tdate;
    document.getElementById("demo").setAttribute('min',minDate)
    console.log(minDate);


</script>

<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold"><span class="text-bl" style="color: darkorange">A</span>irline Booking</h3>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr style="height:5px;border-width:0;color:gray;background-color:crimson">
        @Html.ValidationSummary(true, "Invaild Credential !!!", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FlyingFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.ArivalFrom, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(m => m.FlyingFrom, new List<SelectListItem>
                            {new SelectListItem{Text="Lahore",Value="Lahore" },
                            new SelectListItem{Text="Karachi",Value="Karachi" } ,
                             new SelectListItem { Text = "Islamabad", Value = "Islamabad" } ,
                             new SelectListItem { Text = "Kalam", Value = "Kalam" } ,
                             new SelectListItem { Text = "Murree", Value = "Murree" } ,
                             new SelectListItem { Text = "Gilgit", Value = "Gilgit" } ,
                             new SelectListItem { Text = "Kashmir", Value = "Kashmir" } ,
                             new SelectListItem { Text = "Faslabad", Value = "Faslabad" } ,
                             new SelectListItem { Text = "Rawalpindi", Value = "Rawalpindi" } ,
                             new SelectListItem { Text = "Bilochistan", Value = "Bilochistan" } ,
                             new SelectListItem { Text = "Kumrat", Value = "Kumrat" } ,
                             new SelectListItem { Text = "FairyMeadows", Value = "FairyMeadows" } ,
                             new SelectListItem { Text = "Sailkot", Value = "Sailkot" } ,
                             new SelectListItem { Text = "Skardu", Value = "Skardu" } ,
                             new SelectListItem { Text = "swat", Value = "swat" } },
                            "Select FlyingFrom", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FlyingFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlyingTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.ArivalTo, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(m => m.FlyingTo, new List<SelectListItem>
                           {new SelectListItem{Text="Lahore",Value="Lahore" },
                           new SelectListItem{Text="Karachi",Value="Karachi" } ,
                            new SelectListItem { Text = "Islamabad", Value = "Islamabad" } ,
                            new SelectListItem { Text = "Kalam", Value = "Kalam" } ,
                            new SelectListItem { Text = "Murree", Value = "Murree" } ,
                            new SelectListItem { Text = "Gilgit", Value = "Gilgit" } ,
                            new SelectListItem { Text = "Kashmir", Value = "Kashmir" } ,
                            new SelectListItem { Text = "Faslabad", Value = "Faslabad" } ,
                            new SelectListItem { Text = "Rawalpindi", Value = "Rawalpindi" } ,
                            new SelectListItem { Text = "Bilochistan", Value = "Bilochistan" } ,
                            new SelectListItem { Text = "Kumrat", Value = "Kumrat" } ,
                            new SelectListItem { Text = "FairyMeadows", Value = "FairyMeadows" } ,
                            new SelectListItem { Text = "Sailkot", Value = "Sailkot" } ,
                            new SelectListItem { Text = "Skardu", Value = "Skardu" } ,
                            new SelectListItem { Text = "swat", Value = "swat" } },
                           "Select FlyingTo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FlyingTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CNIC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { @class = "form-control", placeholder = "XXXXX-XXXXXXX-X" } })
                @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "03XX-XXXXXXX" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeSlot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.TimeSlot, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(m => m.TimeSlot, new List<SelectListItem>
                          {new SelectListItem{Text="Morning",Value="Morning" },
                           new SelectListItem { Text = "Evening", Value = "Evening"}},
                          "Select Time Slot", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TimeSlot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Departing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Departing, new { htmlAttributes = new { @id = "demo", @min = "2023-01-21", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Departing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Returing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Returing, new { htmlAttributes = new { @id = "demo", @min = "2023-01-21", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Returing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectAirline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.SelectTrain, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(m => m.SelectAirline, new List<SelectListItem>
                                  {new SelectListItem{Text="PIA",Value="PIA" },
                                  new SelectListItem{Text="Airblue",Value="Airblue" } ,
                                   new SelectListItem { Text = "Quater Airline", Value = "Quater Airline" } ,
                                   new SelectListItem { Text = "SereneAir", Value = "SereneAir" } ,
                                   new SelectListItem { Text = "Shaheen Airline", Value = "Shaheen Airline" } ,
                                   new SelectListItem { Text = "Askari Aviation", Value = "Askari Aviation" } ,
                                   new SelectListItem { Text = "Vision Airline", Value = "Vision Airline" } ,
                                   new SelectListItem { Text = "AirSial", Value = "AirSial" } ,
                                   new SelectListItem { Text = "Fly Jinnah", Value = "Fly Jinnah" } },
                                  "Select Airline", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectAirline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectTicket, "Ticket", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @* @Html.EditorFor(model => model.SelectTicket, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(m => m.SelectTicket, new List<SelectListItem>
                            {new SelectListItem{Text="1",Value="1" },
                            new SelectListItem{Text="2",Value="2" } ,
                             new SelectListItem { Text = "3", Value = "3" } ,
                             new SelectListItem { Text = "4", Value = "4" } ,
                             new SelectListItem { Text = "5", Value = "5" } ,
                             new SelectListItem { Text = "6", Value = "6" } ,
                             new SelectListItem { Text = "7", Value = "7" } ,
                             new SelectListItem { Text = "8", Value = "8" } ,
                             new SelectListItem { Text = "9", Value = "9" } ,
                             new SelectListItem { Text = "10", Value = "10" } ,
                             new SelectListItem { Text = "11", Value = "11" } ,
                             new SelectListItem { Text = "12", Value = "12" } ,
                             new SelectListItem { Text = "All", Value = "All" } },
                            "Select Ticket", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.SelectTicket, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_id, "Email ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("User_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="submit" class="button-btn btn-success" style="border-radius: 20px;" />
            </div>
        </div>
    </div>
        }
        <div>
            <big><bold> @Html.ActionLink("Back To List", "Index", new { area = "" }, new { style = "color:orange;font-weight:80;;" })</big>
        </div>
       
    </div>
</div>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>AirlineBooking</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FlyingFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FlyingFrom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FlyingFrom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FlyingTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FlyingTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FlyingTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CNIC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CNIC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CNIC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TimeSlot, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeSlot, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeSlot, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Departing, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Departing, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Departing, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Returing, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Returing, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Returing, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SelectAirline, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectAirline, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectAirline, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SelectTicket, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelectTicket, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectTicket, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User_id, "User_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("User_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.User_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
