@model Travel_Pakistan_With_Us.Models.BusBooking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BusBookingLayout.cshtml";
}

<h2>Details</h2>

<div  class="form-group">
    <h4>BusBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArivalFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArivalFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArivalTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArivalTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSlot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Returing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Returing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectBus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectBus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
